<fieldset>
  <!-- <legend>
    <h2 class="share"><i class="fa-solid fa-share-nodes"></i> comparte</h2>
    <i class="fa-solid fa-angle-up"></i>
  </legend> -->
  <include src="./app_section_title.html" title="comparte" clase="fa-solid fa-share-nodes" classjs="js_header_share"
    angleJs="js_angle_share">
  </include>
  <div class="create_button js_content_share collapsed">
    <button class="submit_button" type="submit">
      <i class="fa fa-address-card"></i> crear tarjeta
    </button>
  </div>
</fieldset>
<section class="font_success collapsed">
  <p class="card_create">La tarjeta ha sido creada:</p>
  <a href="#" class="card_link">https://awesome-profile-card.com?id=A456DF0001</a>

  <a class="button_twiter" href="#"><i class="fa-brands fa-twitter"></i> Compartir en twitter</a>
</section>