<section class="section-preview">
    <div>
        <button class="preview-button">
            <i class="fa-solid fa-trash-can icon-button"></i>
            <span>reset</span>
        </button>
    </div>
    <div class="preview-data">
        <div class="preview-container-title">
            <h2 class="preview-name">nombre apellido</h2>
            <h3 class="preview-job">front-end developer</h3>
        </div>
        <div class="preview-img">
            <img src="" alt="">
        </div>
        <div class="preview-icon-contact">
            <i class="fa-solid fa-mobile-screen-button preview-icon"></i>
            <i class="fa-regular fa-envelope preview-icon"></i>
            <i class="fa-brands fa-linkedin-in preview-icon"></i>
            <i class="fa-brands fa-github-alt preview-icon"></i>
        </div>
    </div>
</section>