<fieldset>
  <!-- <section class="design">
    <h2 class="design-title">
      <i class="fa-solid fa-object-ungroup"></i>diseña
    </h2>
    <i class="fa-solid fa-angle-up"></i>
  </section> -->
  <include src="./app_section_title.html" title="diseña" clase="fa-solid fa-object-ungroup" classjs="js_header_design"
    angleJs="js_angle_design">
  </include>
  <section class="design-colors js_content_design collapsed">
    <h3 class="colors-title">colores</h3>
    <div class="select-colors js_palette">
      <label for="color-box1" class="color-box-label">
        <input type="radio" name="palette" id="color-box1" class="color-box-input js_palette1" checked />
        <div class="color-div one"></div>
        <div class="color-div two"></div>
        <div class="color-div three"></div>
      </label>
      <label for="color-box2" class="color-box-label">
        <input type="radio" name="palette" id="color-box2" class="color-box-input js_palette2" />
        <div class="color-div four"></div>
        <div class="color-div five"></div>
        <div class="color-div six"></div>
      </label>
      <label for="color-box3" class="color-box-label">
        <input type="radio" name="palette" id="color-box3" class="color-box-input js_palette3" />
        <div class="color-div seven"></div>
        <div class="color-div eight"></div>
        <div class="color-div nine"></div>
      </label>
    </div>
  </section>
</fieldset>