<fieldset>
  <!-- <section class="data">
    <h2 class="data-title"><i class="fa-solid fa-keyboard"> </i>rellena</h2>
    <i class="fa-solid fa-angle-up"></i>
  </section> -->
  <include src="./app_section_title.html" title="rellena" clase="fa-solid fa-keyboard" classjs="js_header_data"
    angleJs="js_angle_data">
  </include>
  <section class="data-input-section js_content_data collapsed">
    <label for="name" class="data-label">Nombre completo
      <input type="text" name="name" id="name" class="data-input" placeholder="Ej: Sally Jill" />
    </label>
    <label for="job" class="data-label">Puesto<input type="text" name="job" id="job" class="data-input"
        placeholder="Ej: Front-end unicorn" />
    </label>
    <label for="profile-pic" class="data-label">Imagen de perfil
      <div class="image-input-div">
        <label for="profile-pic" class="image-input-label">Añadir imagen
          <input type="file" id="profile-pic" class="image-input js__profile-upload-btn" />
        </label>
        <div class="image_preview js__profile-image"></div>
      </div>
    </label>


    <label for="email" class="data-label">Email<input type="email" name="email" id="email" class="data-input"
        placeholder="Ej: Sally-hill@gmail.com" />
    </label>
    <label for="phone" class="data-label">Teléfono<input type="text" name="phone" id="phone" class="data-input"
        placeholder="Ej: 555-55-55-55" />
    </label>
    <label for="linkedin" class="data-label">Linkedin<input type="text" name="linkedin" id="linkedin" class="data-input"
        placeholder="Ej: linkedin.com/in/sally.hill" />
    </label>
    <label for="github" class="data-label">Github<input type="text" name="github" id="github" class="data-input"
        placeholder="Ej:@sally-hill" />
    </label>
  </section>
</fieldset>