<section class="section-preview">
    <div class="container-preview-button">
        <button class="preview-button">
            <i class="fa-solid fa-trash-can icon-button"></i>
            <span>reset</span>
        </button>
    </div>
    <div class="preview-data">
        <div class="preview-container-title">
            <h2 class="preview-name js_preview_name">nombre apellido</h2>
            <h3 class="preview-job js_preview_job">front-end developer</h3>
        </div>
        <div class="preview-img js__profile-preview">
            <img src="" alt="">
        </div>
        <div class="preview-icon-contact">
            <a href="" target="_blank" class="link-preview-icon js_preview_phone">
                <i class="fa-solid fa-mobile-screen-button preview-icon mobile-preview-icon"></i></a>
            <a href="mailto" target="_blank" class="link-preview-icon js_preview_email"><i
                    class="fa-regular fa-envelope preview-icon"></i></a>
            <a href="" target="_blank" class="link-preview-icon js_preview_linkedin"><i
                    class="fa-brands fa-linkedin-in preview-icon"></i></a>
            <a href="" target="_blank" class="link-preview-icon js_preview_github"><i
                    class="fa-brands fa-github-alt preview-icon"></i></a>
        </div>
    </div>
</section>