<fieldset>
  <section class="design">
    <h2 class="design-title">
      <i class="fa-solid fa-object-ungroup"></i>diseña
    </h2>
    <i class="fa-solid fa-angle-up"></i>
  </section>
  <section class="design-colors">
    <h3 class="colors-title">colores</h3>
    <div class="select-colors">
      <label for="color-box1" class="color-box-label">
        <input
          type="radio"
          name="color-box"
          id="color-box1"
          class="color-box-input"
        />
        <div class="color-div one"></div>
        <div class="color-div two"></div>
        <div class="color-div three"></div>
      </label>
      <label for="color-box2" class="color-box-label">
        <input
          type="radio"
          name="color-box"
          id="color-box2"
          class="color-box-input"
        />
        <div class="color-div four"></div>
        <div class="color-div five"></div>
        <div class="color-div six"></div>
      </label>
      <label for="color-box3" class="color-box-label">
        <input
          type="radio"
          name="color-box"
          id="color-box3"
          class="color-box-input"
        />
        <div class="color-div seven"></div>
        <div class="color-div eight"></div>
        <div class="color-div nine"></div>
      </label>
    </div>
  </section>
</fieldset>
