<fieldset class="contain_share">
  <legend>
    <h2 class="share"><i class="fa-solid fa-share-nodes"></i> comparte</h2>
    <i class="fa-solid fa-angle-down"></i>
  </legend>
  <div class="create_button">
    <button class="submit_button" type="submit">
      <i class="fa fa-address-card"></i> crear tarjeta
    </button>
  </div>
</fieldset>
<section class="font_success">
  <p class="card_create">La tarjeta ha sido creada:</p>
  <a href="#" class="card_link"
    >https://awesome-profile-card.com?id=A456DF0001</a
  >

  <a class="button_twiter" href="#"
    ><i class="fa-brands fa-twitter"></i> Compartir en twitter</a
  >
</section>
