<fieldset>
  <!-- <legend>
    <h2 class="share"><i class="fa-solid fa-share-nodes"></i> comparte</h2>
    <i class="fa-solid fa-angle-up"></i>
  </legend> -->
  <include src="./app_section_title.html" title="comparte" clase="fa-solid fa-share-nodes" classjs="js_header_share"
    angleJs="js_angle_share">
  </include>
  <div class="create_button js_content_share collapsed">
    <button class="submit_button js_submit_button" type="submit">
      <i class="fa fa-address-card"></i> crear tarjeta
    </button>
    <section class="font_success collapsed js_link_card">
      <p class="card_create js_message"></p>
      <a href="" class="card_link js_url"></a>

      <a class="button_twiter js_button_twitter" href=""><i class="fa-brands fa-twitter"></i> Compartir en twitter</a>
    </section>
  </div>

</fieldset>