<fieldset>
  <include src="./app_section_title.html" title="diseña" clase="fa-solid fa-object-ungroup" classjs="js_header_design"
    angleJs="js_angle_design">
  </include>
  <section class="design-colors js_content_design collapsed">
    <h3 class="colors-title">colores</h3>
    <div class="select-colors js_palette">
      <label for="color-box1" class="color-box-label">
        <input type="radio" name="palette" id="color-box1" class="color-box-input js_palette1" value="1" checked />
        <div class="color-div one"></div>
        <div class="color-div two"></div>
        <div class="color-div three"></div>
      </label>
      <label for="color-box2" class="color-box-label">
        <input type="radio" name="palette" id="color-box2" class="color-box-input js_palette2" value="2" />
        <div class="color-div four"></div>
        <div class="color-div five"></div>
        <div class="color-div six"></div>
      </label>
      <label for="color-box3" class="color-box-label">
        <input type="radio" name="palette" id="color-box3" class="color-box-input js_palette3" value="3" />
        <div class="color-div seven"></div>
        <div class="color-div eight"></div>
        <div class="color-div nine"></div>
      </label>
      <label for="color-box4" class="color-box-label">
        <input type="radio" name="palette" id="color-box4" class="color-box-input js_palette4" value="4" />
        <div class="color-div ten"></div>
        <div class="color-div eleven"></div>
        <div class="color-div twelve"></div>
      </label>
      <label for="color-box5" class="color-box-label">
        <input type="radio" name="palette" id="color-box5" class="color-box-input js_palette5" value="5" />
        <div class="color-div thirteen"></div>
        <div class="color-div fourteen"></div>
        <div class="color-div fifteen"></div>
      </label>
    </div>
  </section>
</fieldset>