<main class="main">
    <h1 class="main__title">Crea tu tarjeta de visita</h1>
    <p class="main__text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    <section class="main__icons">
        <div>
            <i class="fa-regular fa-object-ungroup" title="Diseña"></i>
            <p class="main__icons--text">Diseña</p>
        </div>
        <div>
            <i class="fa-solid fa-keyboard" title="Rellena"></i>
            <p class="main__icons--text">Rellena</p>
        </div>
        <div>
            <i class="fa-solid fa-share-nodes" title="Comparte"></i>
            <p class="main__icons--text">Comparte</p>
        </div>
    </section>
    <section class="main__link">
        <a class="main__link--link" href="./app.html">comenzar</a>
    </section>
</main>