/*SECCIÓN DEL TÍTULO*/

.data {
  padding-top: 27px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}

.data-title {
  text-transform: uppercase;
  font-family: $font_main;
  font-weight: 700;
  color: $color_neutro;
  font-size: 1.8rem;
}

.fa-keyboard {
  margin-right: 10px;
  color: $pink;
  font-size: 1.8rem;
}

/* FORMULARIO */

.data-input-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin: 25px 30px;
  gap: 20px;

  @media all and (min-width: 768px) {
    max-width: 329px;
  }
}

.data-label {
  font-family: $font_main;
  color: $color_blue;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 7px;

  & .data-input {
    border: 2px $color_pink solid;
    height: 30px;
    border-radius: 15px;
  }
}

.image-input-div {
  display: flex;
  align-items: center;
  gap: 20px;

  & .image-input {
    background-color: $blue;
    width: 140px;
    font-family: $font_main;
    padding: 3px 20px 7px 22px;
    color: white;
    border: none;
    border-radius: 5px;
  }
  & .image_preview {
    width: 30px;
    height: 30px;
    border: 2px $color_pink solid;
  }
}
