.main {
    background-color: $background_primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    height: 458px;
    @media all and (min-width: 768px) {
        height: 963px;
    }
}

.main__logo{
    margin: 95px 35px 35.4px 35px;
    @media all and (min-width: 768px) {
        margin: 350px 174px 31px 175px;
    }
}

.main__logo img {
    width: 250px;
    height: 63px;
    @media all and (min-width: 768px) {
        width: 419px;
        height: 105px;
    }
}

.main__text {
    padding-left: 27.2px;
    padding-right: 28px;
    padding-bottom: 20px;
    @media all and (min-width: 768px) {
        padding-left: 219px;
        padding-right: 218px;
        padding-bottom: 27px;
    }
}

.main__text h1 {
    color: $font_color_title;
    font-family: $font_title;
    font-size: 19.2px;
    line-height: 24px;
    margin-bottom: 5px;
    @media all and (min-width: 768px) {
        font-size: 24px;
        line-height: 31px;
    }
}

.main__text p {
    color: $font_color_subtitle;
    font-family: $font_main;
    font-size: 12.8px;
    @media all and (min-width: 768px) {
        font-size: 16px;
        line-height: 22px;
    }
}

.main__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'article1 article2 article3';
    justify-content: center;
    grid-column-gap: 24px;
    padding: 15px;
    border: 1.6px solid rgba(225, 115, 52, 0.21);
    border-radius: 5px;
    @media all and (min-width: 768px) {
        fgrid-column-gap: 34px;
        padding: 25px;
        border: 2px solid rgba(225, 115, 52, 0.21);
    }
}

.item1 {
    grid-area: article1;
}

.item2 {
    grid-area: article2;
}

.item3 {
    grid-area: article3;
}

.main__icons p {
    font-family: $font_main;
    font-size: 12.8px;
    color: $font_color_primary;
    @media all and (min-width: 768px) {
        font-size: 16px;
    }
}

.main__icons i {
    color: $font_color_title;
    font-size: 22.4px;
    @media all and (min-width: 768px) {
        font-size: 28px;
    }
}

.main__link {
    background-color: $background_link;
    text-transform: uppercase;
    font-family: $font_main;
    font-size: 16px;
    font-weight: 600;
    border-radius: 21px;
    padding: 10px 20px 10px 20px;
    margin: 38.6px 101px 30px 90px;
    @media all and (min-width: 768px) {
        margin: 186px 319px 59px 320px;
    }
}

.main__link a {
    text-decoration: none;
    color: $background_secondary;
}






